﻿<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Frontend Applicant Test</title>
        <!-- connect to css -->
        <link rel="stylesheet" href="./style/css/styles.css" />
    </head>
    <body ng-controller="myCtrl">
        <div class="header">
            <div>
                <h3>Content Report</h3>
                <div class="headerTotalCount" >
                    <p class="channelCount">Total Channel Count:{{totalChannelCounts}}</p>
                    <p class="deviceCount">Total Devices Count:{{totalDeviceCounts}}</p>
                </div>
            </div>
            <div class="dropdownContainer">
                <select ng-init="selectedName = options[0]" ng-model="selectedName">
                        <option value="All">All</option>
                        <option ng-repeat="(x, y) in names">{{x}}</option>
                        
                </select>
                
            </div>
        </div>


        <div class="content" ng-repeat="(name, value) in names">
            <div ng-if="name === selectedName || selectedName === undefined || selectedName === 'All'">
                <ul>
                    <div style="width: 180px;">
                        <li>{{ name }}</li>
                    </div>
                    <div class="countContainer">
                        <li ng-style="{width: 40 + value.Channels + 'px'};" class="channels">{{ value.Channels }}</li>
                        <li ng-style="{width: 40 + value.Devices + 'px'};" class="devices">{{ value.Devices }}</li>
                    </div>
                </ul>
            </div>
        </div>
        <!-- load angular via CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="app.js"></script>
        <script src="services.js"></script>
        <script src="controller.js"></script>
    </body>
</html>