$deviceColor: #18c218;
$channelColor: #0d579a;;


body{
    padding-left: 115px;
}
h3{
    color: #5b5b5b
}
h3, p{
    font-family: sans-serif;
}
ul{
    display: flex;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header{
    display: flex;
    flex-direction: row;
    min-height: 150px;
}
.headerTotalCount p{
    margin: 0;
    font-weight: 600;
}
.dropdownContainer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin-left: 20%;
}
.channelCount{
    color: $channelColor;
}
.deviceCount{
    color: $deviceColor;
}
.content{
    display: flex;
    flex-direction: row;
}
.countContainer{
    margin-left: 50px;
    display: flex;
}
.devices, .channels{
    color: white;
    text-align: center;
    font-size: 28px;
}
.devices{
    background-color: $deviceColor;
}
.channels{
    background-color: $channelColor;
}